/* Hide scrollbar for all elements */
::-webkit-scrollbar {
  display: none;
}

/* Optional: Define custom scrollbar styles */
/* You can customize these styles to fit your website's design */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.slick-prev:before {
  color: black;
}

.slick-next:before {
  color: black;
}

/* NAV BAR */
.navbar {
  min-height: 80px; /* Adjust the height as needed */
  background-color: rgba(0, 0, 0, 0.2);
}

.text-color{
  color: #EC268F;
}

/* CARD IMAGES */
.card-img-top {
  height: 200px;
}

.inner {
  overflow: hidden;
}

.inner img {
  transition: all 1.5s ease;
}

.inner:hover img {
  transform: scale(1.2);
}
